<form action="/login" method="POST">
  <label for="id">ID:</label><br>
  <input type="text" id="user_id" name="user_id"><br>
  <label for="pw">Password:</label><br>
  <input type="password" id="user_pw" name="user_pw"><br>
  <input type="submit" value="Login">
</form>