<form action="/signup" method="POST">
  
  <label for="id">ID:</label><br>
  <input type="text" id="user_id" name="user_id"><br>
  
  <label for="pw">Password:</label><br>
  <input type="password" id="user_pw" name="user_pw"><br>

  <label for="name">Name:</label><br>
  <input type="text" id="user_name" name="user_name"><br>

  <input type="submit" value="signup">
</form>