
<!DOCTYPE html>

<meta name="robots" content="noindex">
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>
  </title>

  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Abyssinica SIL' rel='stylesheet'>
  
  <link rel="stylesheet" href="http://naruglobal.com/CSS.css">

  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        
</head> 
  

<body>

      <header>
      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NaruGlobal</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Abyssinica SIL' rel='stylesheet'>

    <link rel="stylesheet" href="http://naruglobal.com/header.css">
    <link rel="stylesheet" href="http://naruglobal.com/CSS.css">

    <script src="https://kit.fontawesome.com/79d7674a0f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="http://naruglobal.com/main.js" defer></script>

</head>

<body>
 
  <nav class="navbar">
     <div class="navbar__logo">
    <a href="http://naruglobal.com/index.php"><img class="main-logo" src="http://naruglobal.com/image/main-logo.png"></a>
    </div>

     <ul class="navbar__menu">

      <li class="country"><a href="/germany/germany.php">독일</a>
        <ul class="sub">
         <li><a href="#">S.M.W.｜에셈베</a></li>
         <li><a href="#">Zilliken｜찔리켄</a></li>
         <li><a href="#">Joh.Jos.Prum｜J.J.프륌</a></li>
         <li><a href="#">Van Volxem｜반 폭셈</a></li>
         <li><a href="#">Franzen｜프란첸</a></li>
         <li><a href="#">Haart｜하트</a></li>
         <li><a href="#">Carl Loewen｜칼 뢰벤</a></li>
         <li><a href="#">Karl Erbes｜칼 에어베스</a></li>
         <li><a href="#">Fio Wines｜피오 와인즈</a></li>
         <li><a href="#">Staffelter Hof｜슈타펠터 호브</a></li>
         <li><a href="#">Ziereisen｜치어아이젠</a></li>
         <li><a href="#">Enderle&Moll｜엔델레&몰</a></li>
        </ul>
       </li>
       
       <li class="country"><a href="http://naruglobal.com/austria/austria.php">오스트리아</a>
        <ul class="sub">
         <li><a href="#">Schloss Gobelsburg｜슐로스 고벨스버그</a></li>
        </ul>
       </li>

       <li class="country"><a href="http://naruglobal.com/france/france.php">프랑스</a>
        <ul class="sub">
         <li><a href="france/bruno-paillard/wine-list.php">Bruno Paillard｜브루노 파이야르</a></li>
         <li><a href="#">Vignerons de Buxy｜비네롱 드 뷕시</a></li>
         <li><a href="#">Domaine Roger Sabon｜도멘 로저 사봉</a></li>
         <li><a href="#">Chateau Gaudin｜샤또 고댕</a></li>
         <li><a href="#">Chateau Tour du Moulin｜샤또 뚜르 드 물랭</a></li>
         <li><a href="#">Chateau Marquisat la peyrouse｜샤또 마르퀴사 라 페루즈</a></li>
        </ul>
       </li>

       <li class="country"><a href="http://naruglobal.com/italy/italy.php">이탈리아</a>
       <ul class="sub">
         <li><a href="#">Poderi Colla｜포데리 콜라</a></li>
         <li><a href="#">Fuligni｜풀리니</a></li>
         <li><a href="#">Monte Antico｜몬테 안티코</a></li>
         <li><a href="#">Toscolo｜토스콜로</a></li>
         <li><a href="#">Suavia｜수아비아</a></li>
         <li><a href="#">Molo8｜모로8</a></li>
         <li><a href="#">Giodo｜지오도</a></li>
        </ul>
       </li>
       
       <li class="country"><a href="http://naruglobal.com/spain/spain.php">스페인</a>
        <ul class="sub">
         <li><a href="#">Bodega Lanzaga｜보데가 란자가</a></li>
         <li><a href="#">Raventos i Blanc｜라벤토스 이 블랑</a></li>
         <li><a href="#">Can Sumoi｜칸 수모이</a></li>
         <li><a href="#">Artesano Vintners｜아르테사노 빈트너스</a></li>
        </ul>
       </li>

       <li class="country"><a href="http://naruglobal.com/portugal/portugal.php">포르투갈</a>
          <ul class="sub">
           <li><a href="#">Santo Isidro de Pegoes｜산토 이시드로 데 페고스</a></li>
          </ul>
      </li>
    
       <li class="country"><a href="http://naruglobal.com/chile/chile.php">칠레</a>
        <ul class="sub">
         <li><a href="#">Perez Cruz｜페레즈 크루즈</a></li>
         <li><a href="#">Roberto Henriquez｜로베르토 엔리께스</a></li>
        </ul>
       </li>
    
       <li class="country"><a href="http://naruglobal.com/south-africa/south-africa.php">남아공</a>
        <ul class="sub">
         <li><a href="#">Fairview｜페어뷰</a></li>
         <li><a href="#">Spice Route｜스파이스 루트</a></li>
        </ul>
       </li>
     </ul>

     <ul class="navbar__links" style="letter-spacing: 2px;">

      <a href="https://pf.kakao.com/_vTxipT
      " target="_blank"><img class="kakao-channel" src="/image/kakao-channel.png" height="30px"></a>

      <a href="https://instagram.com/naruglobal"target="_blank"><img class="instagram" src="/image/instagram.png" height="30px"></a>
      
     </ul>

     <a href="#" class="navbar__toggleBtn"><i class="fa-solid fa-bars"></i></a>
  </nav>

  <section>
    <article>

    </article>
  </section>


</body>
</html>       </header>

    
  <article>
    <div class="image-container">
      <img class="image" id="thumbnail-image" src="http://naruglobal.com/wine-image/austria/schloss-gobelsburg/lamm.png" alt="Thumbnail image" decoding="async"/>
    </div>
   
    <div class="name-container">
      <p class="winery-name">Schloss Gobelsburg</p>
      <p class="wine-name"></p>
      <p class="selling-point"><i>"죽기 전에 먹어야할 1001와인에 선정된 오스트리아 그뤼너 벨트리너의 심볼"</i></p>
      <hr>
    </div>

    <div class="award-container">
      <div class="award">

        <p>Robert Parker 93+</p>
        <p>Wine&Spirits 96</p>
        <p>James Suckling 94</p>

       </div>
      <hr>
    </div>

    
    <div class="product-info-container">
      <p class="container-title">Information</p>
  
      <div class="product-info-row">
      <p class="label">와인명</p>
      <div class="vertical-divider"></div>
      <p class="content">슐로스 고벨스버그 람</p>
      </div>

      <div class="product-info-row">
      <p class="label">종　류</p>
      <div class="vertical-divider"></div>
      <p class="content">화이트, 드라이</p>
      </div>
  
     <div class="product-info-row">
      <p class="label">원산지</p>
      <div class="vertical-divider"></div>
      <p class="content">오스트리아 캄프탈</p>
     </div>

     <div class="product-info-row">
      <p class="label">등　급</p>
      <div class="vertical-divider"></div>
      <p class="content">1OWT</p>
     </div>

  
     <div class="product-info-row">
      <p class="label">품　종</p>
      <div class="vertical-divider"></div>
      <p class="content">그뤼너 벨트리너</p>
     </div>

  
     <div class="product-info-row">
      <p class="label">빈티지</p>
       <div class="vertical-divider"></div>
       <p class="content">2020</p>
     </div>
  
     <div class="product-info-row">
       <p class="label">용　량</p>
        <div class="vertical-divider"></div>
       <p class="content">750ML</p>
     </div>
  
     <div class="product-info-row">
       <p class="label">알코올</p>
        <div class="vertical-divider"></div>
       <p class="content">13.5%</p>
     </div>  

     <hr>
    </div>

    <div class="tasting-note-container">
      <p class="container-title">Description</p>
       <div class="tasting-note-row">
        <span class="content">

          <p class="tasting-note">
            슐로스 고벨스버그의 플래그쉽 라인업 '슐로스 고벨스버그'는 빈야드의 개성이 뚜렷하게 드러나는 와인으로 구성되어 있습니다. 오스트리아 전통와인생산자협회(OTW)가 지정한 1등급 빈야드(Erste Lagen)에서 생산된 포도로 만든 와인이 포함되죠. 와이너리가 소유한 1등급 빈야드로는 가이스버그, 람 등이 있습니다.
          </p>
          <p class="tasting-note">
            오스트리아의 1등급 밭 'Lamm'에서 농사한 포도로 양조합니다. 오스트리아 같은 경우에는 1등급밭과 특급밭을 선정하는 시스템이 매우 까다로운데, 여러 대를 거쳐 고품질의 포도가 일정하게 나왔을 때 등급을 매깁니다. 따라서, 1등급 밭에서 만들어진 Lamm 와인의 경우 품질이 검증된 와인이라고 할 수 있습니다.
          </p>
          <p class="tasting-note">
            오스트리아산 오크통에서 발효 및 숙성을 진행합니다. 그뤼너 벨트리너 품종의 매력을 100% 보여주며, 집중도가 매우 뛰어납니다. 과실향을 시작으로, 시간이 지남에 따라 복합적인 미감이 매혹적입니다. 타바코, 바닐라의 아로마가 풍부하며 우아함, 고급미, 섬세함을 동시에 느낄 수 있습니다. 남성적이면서도 확고한 뉘앙스를 전해줍니다.
          </p>

          </div>
        </div>

        <hr>
    </div>
  

    <div class="tasting-note-container">
      <p class="container-title">Winery</p>
      
         <div class="tasting-note-row">
          <span class="content">
            <p class="tasting-note">오스트리아 빈에서 북서쪽으로 80km 떨어진 캄프탈(Kamptal). 지금으로부터 850년전, 처음으로 그곳에서 와인이 만들어지기 시작했습니다.</p>
            <p class="tasting-note">바로 그 때가 슐로스 고벨스버그의 역사가 시작된 1171년입니다. 시토수도회(Cistercians)의 수도승들이 미사주로 사용하기 위해 와인을 양조한 것입니다. 그들은 다뉴브강 지역에서 가장 오래된 와이너리로서, 긴 세월 동안 고유의 가치를 이어왔습니다. 수많은 역사의 굴곡을 겪으면서도 슐로스 고벨스버그만의 전통을 지키기 위해 노력했죠. 제2차 세계대전 후에는 소련에 점령되어 최고의 빈티지 와인을 약탈당하기도 했지만, 꿋꿋이 자리를 지켜나갔습니다.</p>
            <p class="tasting-note">1996년부터 슐로스 고벨스버그는 새로운 역사를 맞이하게 되었습니다. 바로 오스트리아의 저명한 호텔 가문 출신인 마이클 무스부르거(Michael Moosbrugger)가 와이너리를 인수하게된 것이었죠. 그는 다수의 와이너리에서 도제경험을 쌓았습니다. 그것을 기반으로 슐로스 고벨스버그의 전통을 이어나감과 동시에 새로운 혁신을 시도했습니다. 그 기세로 2022년 여름에는 향후 500년이 지나도 끄떡없는 새로운 와인셀라가 완공되기도 했죠. 또한 미사주로서의 위상도 여전히 건재합니다.</p>
          </div>
    </div>
    

  </article>
    

</body>
</html>